*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

header {
    background-color: aqua;
    width: 100%;
    height: 200px;
}

.main_square {
    background-color: blue;
    width: 100%;
    height: 300px;
}

.floating_titles {
    background-color: cornflowerblue;
    width: 20%;
    height: 100px;
    float: left;
    margin: 150px 50px;
}